{% extends 'sms/base_ui.html' %}
<!-- titre de la page home ou d'acceuil -->
{% block title %}Register{% endblock title %}
<!-- contenu de la page home -->
{%block content %}

<main style="padding: 0px">
  <div class="container d-flex justify-content-center align-items-center">
    <div class="card p-4 shadow-lg" style="width: 400px">
      <h2 class="text-center mb-4">Inscription</h2>
      <form>
        <div class="mb-3">
          <label class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            placeholder="Entrez votre email"
          />
        </div>
        <div class="mb-3">
          <label class="form-label">Mot de passe</label>
          <input
            type="password"
            class="form-control"
            placeholder="Entrez votre mot de passe"
          />
        </div>
        <button type="submit" class="btn btn-primary w-100">S'inscrire</button>
      </form>
      <p class="text-center mt-3">
        Pas encore inscrit ? <a href="{% url 'login' %}">Se connecter</a>
      </p>
    </div>
  </div>
</main>

{% endblock content %}
