{% extends 'sms/base_ui.html' %}
<!-- title -->
{% block title %}Historique des SMS{% endblock title %}
<!-- content -->
{% block content %}
<main class="container">
  <div class="row">
    <h1 class="lead col-12 text-primary">Historique des SMS envoyés</h1>
  </div>

  <!-- Affichage des SMS envoyés -->
  <table class="table">
    <thead>
      <tr>
        <th>Destinataire</th>
        <th>Message</th>
        <th>Date d'envoi</th>
        <th>Statut</th>
      </tr>
    </thead>
    <tbody>
      {% for sms in sent_sms_list %}
      <tr>
        <td>{{ sms.recipient }}</td>
        <td>{{ sms.message }}</td>
        <td>{{ sms.sent_at }}</td>
        <td>{{ sms.get_status_display }}</td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="4" class="text-center text-primary">Aucun SMS envoyé.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <!-- SMS reçus -->
  <div class="row mt-4">
    <h3 class="lead text-primary">SMS reçus</h3>
    <ul>
      {% for sms in received_sms %}
      <li>
        <strong>De : </strong>{{ sms.user.username }}<br />
        <strong>Message : </strong>{{ sms.message }}<br />
        <strong>Date de réception : </strong>{{ sms.sent_at }}<br />
        <strong>Status : </strong>{{ sms.status }}
      </li>
      {% empty %}
      <li>Aucun SMS reçu pour le moment.</li>
      {% endfor %}
    </ul>
    <a href="{% url 'user_sent_sms' %}" class="btn btn-primary">Repondre</a>
  </div>

  <!-- Affichage des SMS restants -->
  <h2 class="mt-4 text-primary lead">Votre solde de SMS</h2>
  <ul class="list-group">
    {% for pack in user_packs %}
    <li class="list-group-item">
      Pack : <strong>{{ pack.sms_pack.name }}</strong> - SMS restants :
      <strong>{{ pack.remaining_sms }}</strong>
    </li>
    {% empty %}
    <li class="list-group-item text-center">Aucun pack actif.</li>
    {% endfor %}
  </ul>
</main>
{% endblock content %}
